<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <body class="grey-bg">
        <!-- html 파일에서 서버에게 데이터 받고 출력하기 -->
        <!-- <%=JSON.stringify(data)%> -->
        <!-- 외부 ejs file import -->
        <%- include("nav.ejs")%>

            <input class="search">
            <button class="search-send">검색</button>

            <script>
                document.querySelector(".search-send").addEventListener("click", () => {
                    let inputValue = document.querySelector(".search").value;
                    location.href = "/search?val=" + inputValue
                })
            </script>

            <div class="white-bg">
                <% for(let i=0; i < data.length; i++){ %>
                    <div class="list-box">
                        <a href="/detail/<%=data[i]._id %>">
                            <h4>
                                <%=data[i].title%>
                                    <a href="/edit/<%=data[i]._id%>">✏️</a>
                                    <button class="delete" id="<%=data[i]._id%>">🗑</button>
                                    <a href="/chat/request?writerId?<%= data[i].userId%>">채팅</button>
                            </h4>

                            <p>
                                <%=data[i].content%>
                            </p>
                        </a>
                    </div>
                    <%} %>
            </div>
            <script>
                const deleteBtn = document.querySelectorAll(".delete");
                for (let i = 0; i < deleteBtn.length; i++) {
                    deleteBtn[i].addEventListener("click", (e) => {
                        const id = e.target.id;
                        console.log(id);
                        fetch(`/delete/${id}`, {
                            method: "DELETE",
                            // header
                            headers: {
                                "Content-Type": "application/json",
                            },
                            // body data request
                            // body: JSON.stringify({})
                        }).then((res) => { if (res.status === 200) location.reload() })
                            .catch((e) => alert(e.message))
                    })
                }
            </script>
    </body>
</body>

</html>